<h5><a name="comments">Comments</a></h5>

{% if article.comments_count > 0 %}
<div id="comments_div">
  <ol id="comments" class="comments">
    {% for comment in article.comments %}
    <li class="comment" id="comment-{{ comment.id }}">
      <div class="author">
        <cite><span class="author">{{ comment.author_link }}</span></cite> &#150; 
        <abbr title="{{ comment.created_at | format_date: 'long' }}"><span class="date">{{ comment.created_at | date: '%B %d, %Y at %I:%M %p MST' }}</span></abbr>
      </div>
      <div class="content">
        {{ comment.body }}
      </div>
    </li>
    {% endfor %}
  </ol>
</div>
{% endif %}

{% if article.accept_comments %}
{% include 'article_comment_form' %}
{% endif %}