{% for article in articles %}
<div class="article_preview">
  <div class ="article_preview_title" ><h3>{{ article | link_to_article }}</h3>  by {{ article.author.login }} on {{ article.published_at | date: '%B %d, %Y' }}
<br class="clear" /></div>

{% if article.assets.size != 0 %}
  {% for asset in article.assets %}
    {% if asset.is_image %}
      <a href="{{ article.url }}"><img class ="article_section" src="{{ asset.path }}" alt="alt" /></a>
    {% endif %}
  {% endfor %}
{% endif %}

{{ article.body | truncate: 250 }}

</div>

{% endfor %}