<div id ="widget_section_articles" class="widget">

{{ 'widget_section_articles' | section.name | assign_to: 'var_widget_section' }} 

{% for article in var_widget_section.latest_articles%} 

      <a class="widget_section_article_preview" href="{{ article.url }}">

         {% if article.assets.size != 0 %}
            {% for asset in article.assets %}
                {% if asset.is_image %}
                  <img class ="bordernone" src="{{ asset.path }}" alt="alt" />
                {% endif %}
            {% endfor %}
         {% endif %}

<span class="widget_section_article_title">{{ article.title }}</span>

  {% comment %} {{ article.body | truncate: 120 }} {% endcomment %}

        </a><!--article preview-->
 {% endfor %}

<div style="clear:both;"></div>

</div><!--widget_featured_articles-->